# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE settings
.idea/
.vscode/

# macOS metadata
.DS_Store

# Models
.pt
.pkl